.posting-page {
    @include layout-content;

    .form-wrapper {
        padding: 2em 6em !important;
    }

    .button-group {
        margin-top: 1.5em;

        .back {
            margin-left: 1.5em;
            text-decoration: none;
            cursor: pointer;
        }
    }

}