.product-info {
    .menu{
        justify-content: center;
        width: 100%;
    }

    .helping-content {
        p {
            font-size: 1.15em;
            font-weight: 300;
        }
    }
}