$colorBlack: #000000;
$colorOrange: #F4B333;
$colorLightBlue: #EBF5F9;
$colorTeal: #2BC0E4;
$colorDarkBlue: #316CB0;
$colorWhite: #FFFFFF;
$colorLightGrey: #F5F5F5;
$colorGrey: #938A8A;

$contentBackgroundColor: #EBF5F9;