$colorBlack: #000000;
$colorRed: #FF7E7E;
$colorOrange: #F4B333;
$colorLightBlue: #EBF5F9;
$colorLightTeal: #51BDEC;
$colorTeal: #2BC0E4;
$colorDarkBlue: #316CB0;
$colorWhite: #FFFFFF;
$colorLightGrey: #F5F5F5;
$colorGrey: #938A8A;
$colorDarkGrey: #5c5656;

$contentBackgroundColor: #EBF5F9;