.cart-summary {
    .content-wrapper {
        max-height: 390px;
        overflow-y: auto;
    }
    .cell-item {
        >.item {
            color: $colorGrey;
        }

        >.price {
            text-align: right;
        }
    }

    .summary-table {
        margin-top: 0 !important;
    }

    .summary-row {
        .price {
            font-weight: 500;
            color: $colorOrange;
        }
    }
}