.payment-form {
    button {
        margin-bottom: 1em !important;
    }

    .delete-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0.3em !important;
    }
}