.product-data-card {
    background: $colorWhite;
    padding: 0.7em !important;
    margin-top: 0 !important;
    
    .detail-table {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 0.5em;
    }
}