.attribute-table {
    td {
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-right: .5em !important;
    }

    .attribute-value {
        padding-left: .5em !important;
    }
}