.logo-wrapper {
    .web-logo {
        font-family: 'Kanit', sans-serif;
        font-size: 2em;
    }

    .left-logo {
        color: #316CB0;
    }

    .right-logo {
        color: #F4B333;
    }
}